@use "@styles/color";
@use "@styles/space";
@use "@styles/font";
@use "@styles/breakpoint";

.issueFilters {
  display: flex;
  flex-direction: row;
  gap: space.$s6;
  margin-bottom: space.$s6;
}

.container {
  background: white;
  overflow: hidden;

  @media (min-width: breakpoint.$desktop) {
    border: 1px solid color.$gray-200;
    box-sizing: border-box;
    box-shadow:
      0 4px 8px -2px rgb(16 24 40 / 10%),
      0 2px 4px -2px rgb(16 24 40 / 6%);
    border-radius: space.$s2;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headerRow {
  display: none;

  @media (min-width: breakpoint.$desktop) {
    display: table-row;
    border-bottom: 1px solid color.$gray-200;
  }
}

.headerCell {
  padding: space.$s3 space.$s6;
  text-align: left;
  color: color.$gray-500;
  font: font.$text-xs-medium;
}

.paginationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
  padding: space.$s4 0;

  @media (min-width: breakpoint.$desktop) {
    flex-direction: row;
    border-top: 1px solid color.$gray-200;
    gap: none;
    padding: space.$s4 space.$s6;
  }
}

.pagBtnContainer {
  display: flex;
  width: 100%;

  @media (min-width: breakpoint.$desktop) {
    display: block;
    width: auto;
  }
}

.paginationButton {
  height: 38px;
  padding: space.$s0 space.$s4;
  background: white;
  border: 1px solid color.$gray-300;
  box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
  border-radius: 6px;
  flex: 1;
}

.paginationButton:not(:first-of-type) {
  margin-left: space.$s3;
}

.pageInfo {
  color: color.$gray-700;
  font: font.$text-sm-regular;
}

.pageNumber {
  font: font.$text-sm-medium;
}
