@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.button {
  cursor: pointer;

  /* remove default button styles */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: space.$s2;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  // Icons

  &.icon {
    width: space.$s5;
    height: space.$s5;
  }

  &.leading {
    flex-direction: row-reverse;
  }

  &.trailing {
    flex-direction: row;
  }

  // Sizes

  &.sm {
    padding: space.$s2 0.875rem;
    font: font.$text-sm-medium;

    &.only {
      padding: 0.875rem;
    }
  }

  &.md {
    padding: 0.625rem space.$s4;
    font: font.$text-sm-medium;

    &.only {
      padding: space.$s4;
    }
  }

  &.lg {
    padding: 0.625rem 1.125rem;
    font: font.$text-md-medium;

    &.only {
      padding: 1.125rem;
    }
  }

  &.xl {
    padding: space.$s3 space.$s5;
    font: font.$text-md-medium;

    &.only {
      padding: space.$s5;
    }
  }

  // Colors

  &.primary {
    background: color.$primary-600;
    color: white;

    &:hover {
      background: color.$primary-700;
    }

    &:focus {
      box-shadow: 0 0 0 4px color.$primary-100;
    }

    &:disabled {
      background: color.$primary-200;
    }
  }

  &.secondary {
    background: color.$primary-50;
    color: color.$primary-700;

    &:hover {
      background: color.$primary-100;
    }

    &:focus {
      box-shadow: 0 0 0 4px color.$primary-100;
    }

    &:disabled {
      background: color.$primary-25;
      color: color.$primary-300;
    }
  }

  &.gray {
    background: white;
    border: 1px solid color.$gray-300;
    color: color.$gray-700;

    &:hover {
      background: color.$gray-50;
      color: color.$gray-800;
    }

    &:focus {
      box-shadow: 0 0 0 4px color.$gray-100;
    }

    &:disabled {
      border: 1px solid color.$gray-200;
      color: color.$gray-300;
    }
  }

  &.empty {
    background: white;
    color: color.$primary-700;

    &:hover {
      background: color.$primary-50;
    }

    &:disabled {
      color: color.$gray-300;
    }
  }

  &.emptyGray {
    background: white;
    color: color.$gray-500;

    &:hover {
      background: color.$gray-50;
      color: color.$gray-600;
    }

    &:disabled {
      color: color.$gray-300;
    }
  }

  &.error {
    background: color.$error-600;
    color: white;

    &:hover {
      background: color.$error-700;
    }

    &:focus {
      box-shadow: 0 0 0 4px color.$error-100;
    }

    &:disabled {
      background: color.$error-200;
    }
  }

  &.errorEmpty {
    background: white;
    color: color.$error-700;

    &:hover {
      background: color.$error-50;
    }

    &:disabled {
      color: color.$error-300;
    }
  }
}
